{% extends "base.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block content %}
  <h2>{{ title }}</h2>

  <p>
    {% trans "Are you sure that you want to remove this repository?" %}
  </p>
  <p>
    <b>{{ repository.name }}</b>
  </p>
  <p>
    {% blocktrans %}
      The remote repository will not be deleted.
      This just removes the repository from the listing on the backup page, you
      can add it again later on.
    {% endblocktrans %}
  </p>

  <p>
    <form class="form" method="post">
      {% csrf_token %}

      <input type="submit" class="btn btn-danger"
             value="{% trans "Remove Repository" %}"/>
      <a class="abort btn btn-sm btn-default"
         href="{% url 'backups:index' %}">
        {% trans "Abort" %}
      </a>
    </form>
  </p>

{% endblock %}

