{% extends "base.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block page_head %}
{% endblock %}

{% block content %}

  <h3>{{ title }}</h3>
  <p>
    {% blocktrans %}
      You can choose the apps you wish to import after uploading a backup file.
    {% endblocktrans %}
  </p>
  <div class="alert alert-warning" role="alert">
    {% blocktrans trimmed %}
      WARNING: You have {{ max_filesize }} available to restore a backup.<br />
      Exceeding this limit can leave your {{ box_name }} unusable.
    {% endblocktrans %}
  </div>

  <form class="form" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    {{ form|bootstrap }}

    <input type="submit" class="btn btn-primary"
           value="{% trans "Upload file" %}"/>
  </form>

{% endblock %}
